dodane.txt
Hubert_Kuczwara_pl.aux
Hubert_Kuczwara_pl.log
Hubert_Kuczwara_pl.out
Hubert_Kuczwara_pl.synctex.gz
Hubert_Kuczwara_en.aux
Hubert_Kuczwara_en.log
Hubert_Kuczwara_en.out
Hubert_Kuczwara_en.synctex.gz
Skills.txt
